<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 갤러리 읽기 권한 (이미지) -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:required="false" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="GURU2AndroidTeam04android"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GURU2AndroidTeam04android"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Moonlog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SplashActivity" android:exported="false" />
        <activity android:name=".OnboardingActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".SignupActivity" android:exported="false" />
        <activity android:name=".StartActivity" android:exported="false" />
        <activity android:name=".HomeActivity" android:exported="false" />

        <activity android:name=".DiaryEditorActivity" android:exported="false" />
        <activity android:name=".TodayDiaryDetailActivity" android:exported="false" />

        <activity android:name=".AnalysisStartActivity" android:exported="false" />
        <activity android:name=".AnalysisDiaryActivity" android:exported="false" />
        <activity android:name=".AnalysisComfortActivity" android:exported="false" />
        <activity android:name=".AnalysisActionsActivity" android:exported="false" />

        <activity android:name=".DiaryCalendarActivity" android:exported="false" />
        <activity android:name=".MonthlySummaryActivity" android:exported="false" />
        <activity android:name=".DiaryListActivity" android:exported="false" />
        <activity android:name=".ArchiveDiaryDetailActivity" android:exported="false" />

    </application>

</manifest>
